@font-face {
    font-family: 'Pixellari';
    src: url('Pixellari.ttf');
}

html {
    background-color: #28293b;
    font-family: "Pixellari";
    color:#ffee5b;
    text-align: center;
}

button {
	background-color: #FFEE5B;
	border: none;
	color: #28293B;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 30ex;
    height: 50px;
}

img {
    filter: grayscale(1);
}

a {
    color: cyan;
}
#info {
    display: none;
}

p {
    margin: 15px 15px;
}

#main {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

#toggle {
    font-size: x-large;
}