@font-face {
    font-family: 'Pixellari';
    src: url('Pixellari.ttf');
}

html {
    background-color: #28293b;
    font-family: "Pixellari";
    color:#ffee5b;
    
}


button {
	background-color: #FFEE5B; 
	border: none;
	color: #28293B;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 30ex;
	height: 50px
  }
table {
    text-align: center;
    
}
img {
    filter: grayscale(1);
}
a {
    color: cyan;
}

.info {
    display: none;
}

i {
    text-align: center;
}